{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href='{%static "css/Simditor/simditor.css"%}' rel="stylesheet">
<script type="text/javascript" src='{%static "js/jquery-3.3.1.min.js"%}'></script>
<script>
//文字編輯器
    $(function() {
      
      var editor = new Simditor({
          textarea: $("#newIntro"),
          placeholder: "在此撰寫介紹",
          toolbar: [ 'title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote','hr','|','indent','outdent','alignment',  'link'],
          
          
        });
        
    });
</script>
<div class="container">
  <div class="section-title"><h2>個人資料設定</h2></div>
    <div class="col-1">
        <a class="btn btn-outline-dark card-button"  href="/accounts/password/">變更密碼</a>
    </div>
    <form  action="/personal/editProfile/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label >Display Name</label>
            <input type="text" class="form-control" name="newName" id="newName" placeholder="Enter the new name" value="{{name}}">
            <small id="emailHelp" class="form-text text-muted">Up to 20 characters</small>
          </div>
        
        <div class="form-group">
            <label>Introdution</label>
            <textarea class="form-control form-control-textarea" id="newIntro"name="newIntro" rows="5">{{intro}}</textarea>
          </div>
        <input type="submit" class="btn btn-outline-dark "value="Submit" onClick=" validateForm(this.form); return false">
      </form>
</div>
<script >
  function validateForm(form)
  {
      if (!checkName(form.newName)) {
         
          return false;
      }
      
      else if (!checkIntro(form.newIntro)) {
         
          return false;
      }
      else if (!checkEmail(form.newEmail.value)) {
         
          return false;
      }
      
      form.submit();
      return(true);

  }
  function checkEmail(email){
      index = email.indexOf ('@', 0);		// 尋找 @ 的位置，0 代表開始尋找的起始位置
      if (email.length==0) {
          alert("請輸入電子郵件地址！");
          return (false);
      } else if (index==-1) {
          alert("錯誤：必須包含「@」。");
          return (false);
      } else if (index==0) {
          alert("錯誤：「@」之前不可為空字串。");
          return (false);
      } else if (index==email.length-1) {
          alert("錯誤：「@」之後不可為空字串。");
          return (false);
      } else
          return (true);
  }

  function checkName(control){
      var username=control.value
      if (username==''){
          alert("錯誤：請輸入username ");
          return (false);
      }
      if(username.length>20){
          alert("錯誤：name 最長20字元");
          return (false);
      }
      
      return true
  }
  function checkIntro(control){
    var intro=control.value
    if(intro.length>1000){
          alert("錯誤：introduction 最長1000字元");
          return (false);
      }
    return true;
  }
 
</script>
{% block myjs %} 
<script type="text/javascript" src='{%static "js/Simditor/module.js"%}'></script>
<script type="text/javascript" src='{%static "js/Simditor/hotkeys.js"%}'></script>
<script type="text/javascript" src='{%static "js/Simditor/uploader.js"%}'></script>
<script type="text/javascript" src='{%static "js/Simditor/simditor.js"%}'></script>

{% endblock myjs %}
{% endblock  %}
