{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="site-section" style="padding: 2em 0;">
    <div class="container">
        <div class="row article-content">
          <div class="single-content">
          <h1>常見問題集</h1>
          <br><br>
          <h3>- 關於實驗 -</h3><hr>
          <h6>01.KM=(P+K)^S 是甚麼意思?</h6>
          <p>KM (Knowledge Management) : 知識管理</p>
            <ui>
            <li>P (People) : 代表知識傳播者</li>
            <li>+ (Technology) : 代表資訊科技協助知識管理的建構</li>
            <li>K (Knowledge) : 資料、資訊、知識、智慧</li>
            <li>S (Share) : 分享</li>
           </ui>
            學者提出知識管理的效率由P(People),K(Knowledge)，S(Sharing)等因素影響，其中Sharing是非常重要的因素。因此本研究針對知識分享進行實驗，期望找出提升知識分享的系統架構，促進學習成效。
              
          <br>
          <br>
          <h6>02.此實驗假設為何?</h6>
          根據學者研究，知識分享的關鍵成功因素有
          <ui>
            <li>Trust</li>
            <li>Communication</li>
            <li>Information systems</li>
            <li>Rewards</li>
            <li>Organization structure</li>
           </ui>       
            其中Trust包含對分享對象的信任、及自己文章的隱私性，引此本實驗系統設計了"群組"功能，並訂定實驗假設"受測者在特定成員中更願意分享知識，並且在互相討論切磋後，會提高自己知識分享至群組外部的意願"
          <br><br>
          <h6>03.此實驗方式為何？</h6>
          以組為單位，給定一個主題或題目，讓受測者組成群組，針對題目進行討論，包含自行撰寫文章分享至群組中、在群組內討論內容。
                <br>期望以這種群組方式能夠提升受測者將知識外化的意願，並且進行初步的知識分享，希望能夠在群組中的討論切磋可以使受測者對於自己的文章更有自信，甚至將文章公開，最終達到知識分享的目標。 
          <br>
          
          
          
          <br><br>
          <h3>- 關於設計 -</h3><hr>
          <h6>01.這系統和其他的部落格例如Medium差在哪裡？</h6>
          <p>Medium和痞克幫那類的部落格文章比較公開沒有隱私性，此系統以個人部落格為基礎，多了群組的功能，希望藉由分享給特定對象來降低寫文章的抗拒。把知識給外顯後，再透過交流切磋把自己的文章品質提升或者增加自己對於文章的自信，期望能夠提高大家把文章公開於群組外、系統間。</p>
          <br>
          <h6>02.這系統不就像是社群軟體例如臉書社團、Line群組或者Band app？</h6>
          <p>此系統雖然重點在於群組功能，但是最後希望文章是屬於使用者的而不是群組，以上幾個軟體都是直接發在群組中，無法再將該文章作為自己的部落格文章。因為最終仍希望是以個人出發將自己的知識外顯於系統中，而群組僅是一個降低抗拒的設計。也可以說此系統是社群軟體和個人部落個的中合版。</p>
          <br>
          <h6>03.這系統在市場上有競爭優勢嗎？</h6>
          <p>此系統主要是在研究這樣的功能設計是否提升知識分享、學習成效，所以要再進一步推廣到市面上仍需做其他方面的優化，例如資安、UI/UX。</p>
          <br>
          <h6>04.這系統的TA為何？</h6>
          <p>此系統的目標對象是一個組織，該組織成員不一定願意分享知識給其他成員，所以透過小群組來提升分享意願，最終讓組織中的文章數量增高，</p>
          <br>
          
          
          <br><br>
          <h3>- 關於功能 -</h3><hr>
          <h6>01.我的資料安全嗎?</h6>
          <p>此系統專注在架構上，資安部分僅有基礎的防護，因此要求註冊時請勿使用使用者常用的密碼。</p>
          <br>
          <h6>02.我要如何更改密碼?</h6>
          <p>目前系統尚無更改密碼的流程，若需要更改密碼，請來信至：1205hsiao@gmail.com</p>
          <br>
          <h6>03.我要如何更改群組管理員?</h6>
          <p>目前系統尚無更改管理員的流程，若需要更改管理員，請來信至：1205hsiao@gmail.com</p>
          <br>
         
          
          
          
          
          
          
          
          
          </div>
        </div>
    </div>
</div>
































 {% endblock  %}