
{% load static %}


	<head>
		<title>KM=(P+K)^S</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="{%static "img/logo2.png"%}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href='{%static "css/home/main.css"%}'rel="stylesheet">
		{% comment %} <noscript><link rel="stylesheet" href='{%static "css/home/noscript.css"%}'/></noscript> {% endcomment %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>KM=(P+K)^S</h1>
								<p>此實驗系統為以部落格為形式加上知識分享的群組功能所搭建起來的知識管理系統，用以測試如何利用知識分享使學習更加有效果。</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Blog</a></li>
								<li><a href="#about">Group</a></li>
								<li><a href="#something">Scenario</a></li>
								<li><a href="/home/">Start</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Intro</h2>
								
								<p>KM (Knowledge Management) : 知識管理</p>
								<p>P (People) : 代表知識傳播者</p>
								<p>+ (Technology) : 代表資訊科技協助知識管理的建構</p>
								<p>K (Knowledge) : 資料、資訊、知識、智慧</p>
								<p>S (Share) : 分享</p>
								<p>此實驗系統主要研究以上述公式為基礎架構所搭建起來的系統是否可以增加使用者的學習效果。</p>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Blog</h2>
								<p>希望可以透過部落格形式將使用者的知識外顯</p>
								<p>每一個帳號都能夠撰寫文章並存放在自己的部落格當中，其中的分類方法有二：
									<ul>
										<li>Categories：
											<p>每個帳號都有自己的分類設定，使用者可以根據此分類來搜尋該作者的同分類文章。</p>
										</li>
										<li>Tags:
											<p>每篇文章都能夠有至多五項Tags，使用者可以根據Tags搜尋所有有此Tags的文章。</p>
										</li>
									</ul>
								</p>
								
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">Group</h2>
								<p>為了提高知識分享，設立了群組功能，讓使用者可以先分享給特定成員，提升知識外顯意願。</p>
								<p>此知識管理系統中有群組功能，使用者可以建立群組並讓其他使用者加入。
									<ul>
										<li>該群組的使用者能夠將自己的文章分享至群組當中
										</li>
										<li>群組管理者能夠將群組內文章進行分類，此分類為該群組專屬的分類。
										</li>
									</ul>
								</p>
							</article>

						<!-- something -->
						<article id="something">
							<h2 class="major">Scenario</h2>
							<p>此系統可為三五好友的讀書會，也可為課堂中老師的輔助系統，甚至為組織內部的知識管理系統</p>
							<ul>
								<li>Scenario 1: 為系上的專屬系統，每個系上成員可以撰寫文章在此系統中，也可以透過群組去組成非正式讀書會，或者是正式的考古題研究群組等等，達到知識繼承及分享的目標。</li>
								<li>Scenario 2: 為課堂中老師的專屬系統，每個學生可以於其中建立自己的筆記文章，並透過分組分享給組員。</li>
								<li>Scenario 3: 此系統為公開平台，可讓使用者經營自己的部落格，建立自己的品牌，並且透過志同道合的朋友一起建立群組，分享知識後進而了解自身不足，經過互相切磋後讓自己的文章更加有價值，使自己部落格更有內容。</li>
							</ul>
						</article>

					</div>

				
					 <footer id="footer">
						<p class="copyright">&copy; Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer> 

			</div>

		<!-- BG -->
		<div id="bg"></div>

		<!-- Scripts -->
		<script src='{%static "js/jquery-3.5.1.min.js"%}'></script>
		<script src='{%static "js/home/browser.min.js"%}'></script>
		<script src='{%static "js/home/breakpoints.min.js"%}'></script>
		<script src='{%static "js/home/main.js"%}'></script>

	</body>


