{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <form  action="/accounts/password/" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label >Old Password</label>
        <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Enter the old password" value="{{old_password}}">
        
    </div>
    <div class="form-group">
      <label >new Password</label>
      <input type="password" class="form-control" name="new_password" id="new_password" placeholder="Enter the new password" value="{{new_password}}">
    </div>
    <div class="form-group">
      <label >Comfirm Password</label>
      <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm your password" value="{{confirm_password}}"onkeyup='check();'>
      <small class="txt1 note" id='message'></small>
    </div>
    
    <input type="submit" class="btn btn-outline-dark "value="Submit" onClick=" validateForm_change_password(this.form); return false">
  </form>
</div>

<script src='{%static "js/login/check.js"%}'></script>
{% endblock  %}
