{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="section-title">
        <h3 class="text-left">Article search : {{keyword}}
        {% if search_way == 1 %}
         in {{g_unit.name}} group
        {% endif %}
        </h3>
    </div>
    <div class="row">
        {% for i in search_result%}
        <div class="col-lg-3 col-sm-4 col-12 card-block">
          <div class="card ">
                            <img src="{{i.img}}" alt="AVATAR" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{i.title}}</h5>
                                <span class="card-owner">by <a href="/personal/{{i.author.id}}">{{i.author.name}}</a> </span>
                                <!-- <p class="card-text">{{article.content|safe}}</p> -->
                                <p class="card-owner"> Categories:
                                    {% for c in i.categorys.all %} 
                                    
                                    <a href="/article/category/{{c.id}}">{{c.name}}</a>,
                                    
                                    {% endfor %}
                                </p>
                                <p class="card-owner">
                                    Tags: 
                                    {% for t in i.tags.all%}
                                    <a href="/article/tags/{{t.id}}">#{{t.name}}</a>,
                                    {% endfor %}
            
                                </p>
                                <a class="btn btn-outline-dark card-button" href="/article/{{i.id}}">more</a>
                            </div>
                        </div>
        </div>
        {%endfor%}

</div>

{% endblock  %}
