{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
<script type="text/javascript" src='{%static "js/jquery-3.3.1.min.js"%}'></script>
<style>
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;}
</style>

<div class="container">
  <div class="py-0">
    <div class="half-post-entry d-block d-lg-flex bg-light">
      <div class="img-bg" style="background-image: url('/static/img/group1.jpg')"></div>
      <div class="contents">
        <span class="caption">Group</span>
        <h2>群組功能</h2>
        <p class="mb-3">本系統利用群組功能，讓使用者能夠分享自己的文章至特定成員當中，降低對於分享對象不信任度並提升隱私程度。
       
        
      </div>
    </div>
  </div>
  <div class="row">
            <h4 class="col-8 ">Group</h4>
            <h1 class="col-8 section-title">{{g_unit.name}}</h1>
        </div>
  <br>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-member-tab" data-toggle="tab" href="#nav-allmember" role="tab" aria-controls="nav-allmember-tab" aria-selected="true">成員列表</a>
      <a class="nav-item nav-link " id="nav-member-tab" data-toggle="tab" href="#nav-member" role="tab" aria-controls="nav-member-tab" aria-selected="false">成員統計</a>
      <a class="nav-item nav-link " id="nav-category-tab" data-toggle="tab" href="#nav-category" role="tab" aria-controls="nav-category-tab" aria-selected="false">分類統計</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-allmember" role="tabpanel" aria-labelledby="nav-allmember-tab">
      <table id="allmember-statistics" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">#</th>
            <th class="th-sm">Username</th>
            {% if g_unit.owner == user%}
            <th class="th-sm">state</th>
            <th class="th-sm">remove</th>
            {% endif%}
          </tr>
        </thead>
        <tbody>
        {% for m in member_list %}
          <tr>
              {% if m.memberID == g_unit.owner %}
                <th scope="row">管理員</th>
              {%else%}
                <th scope="row">{{ forloop.counter }}</th>
              {% endif %}
                <th><a href="/personal/{{m.memberID.id}}/" >{{m.memberID.name}}</a></th>
                {% if g_unit.owner == user%}
                  {% if m.state == 1 %}
                  <th><a href="/group/{{g_unit.id}}/{{m.memberID.id}}/addMember/" >允許加入</a></th>
                  {% elif m.state == 0 %}
                  <th>已加入</th>
                  {%else%}
                  <th> </th>
                  {% endif %}
                  {% if m.memberID != g_unit.owner%}
                  <th><a href="/group/{{g_unit.id}}/{{m.memberID.id}}/leaveGroup/" onclick="return deleteAlert()">remove</a></th>
                  {%else%}
                  <th> </th>
                  {% endif %}
                {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-member" role="tabpanel" aria-labelledby="nav-member-tab">
      <table id="member-statistics" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">名稱
            </th>
            <th class="th-sm">總文章數
            </th>
            {% for c in cate_list%}
            <th class="th-sm">分類:{{c.name}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for i in m_tuples %}
          <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-category" role="tabpanel" aria-labelledby="nav-category-tab">
      <table id="category-statistics" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">分類名稱</th>
            <th class="th-sm">總文章數</th>
            <th class="th-sm">總貢獻人數</th>
          </tr>
        </thead>
        <tbody>
          {% for i in c_tuples %}
          <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
          
      </table>
    </div>
  </div>
</div>

  {% block myjs %}
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>

  {% endblock myjs %}

<script>
    $(document).ready(function () {
      

      $('#member-statistics').DataTable({
        "aaSorting": [],
        columnDefs: [{
          orderable: false,
          targets: 3
        }]
      });

      $('#allmember-statistics').DataTable({
        "aaSorting": [],
        columnDefs: [{
        orderable: false,
        targets: 3
        }]
      });

      $('#category-statistics').DataTable({
        "aaSorting": [],
        columnDefs: [{
        orderable: false,
        targets: 3
        }]
      });

      $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock  %}