{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href='{%static "css/Simditor/simditor.css"%}' rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"> <!--下拉選單時使用-->
<script type="text/javascript" src='{%static "js/jquery-3.3.1.min.js"%}'></script>
<script>
//文字編輯器
    $(function() {
      
      var editor = new Simditor({
          textarea: $("#id_content"),
          placeholder: "在此撰寫公告",
          toolbar: [ 'title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote','hr','|','indent','outdent','alignment', 'code', 'table', 'link','image'],
          pasteImage:true,
          
          upload: {
              url: '/simditor/upload/',
              fileKey: 'upload',
              image_size: 1024 * 1024 * 4   
          },
        });
        
    });
  $(document).ready(function () {
    $('#tags').tagInput({
      labelClass: "badge badge-default"
    });
    $('#newCategory').tagInput({
      labelClass: "badge badge-default"
    });
    $("#addCategory").click(function(){
      var x=getCategory()
      $.post("addCategory/",
      {
        newCategory:x
      },
      function(){
        window.location.reload();
      });
    });
    $("#updateCategory").click(function(){
      var result=getUpdate_category()
      c=result[0]
      a=result[1]
      console.log(c)
      console.log(a)
      $.post("updateCategory/",
      {
        newCate:c,
        aIndex:a
      },
      function(){
        window.location.reload();
      });
    });
  });
</script>

<div class="container">
 <div class="py-0">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div class="img-bg" style="background-image: url('/static/img/group1.jpg')"></div>
          <div class="contents">
            <span class="caption">Group</span>
            <h2>群組功能</h2>
            <p class="mb-3">本系統利用群組功能，讓使用者能夠分享自己的文章至特定成員當中，降低對於分享對象不信任度並提升隱私程度。
            <br><br>◆ 群組可分為公開及非公開，公開社團每個人都能進入查看，而非公開群組則需要透過申請才能進入。

            <br><br>◆ 群組分類：組內專屬的分類功能，需透過管理者將已經分享進來的文章做分類設定，讓成員能夠更快找到相關文章。
            <br><br>◆ 群組成員：管理者可以同意申請者的申請，或者將人踢出群組。
            </p>
            
          </div>
      </div>
    </div>
    <br>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-intro-tab" data-toggle="tab" href="#nav-intro" role="tab" aria-controls="nav-intro" aria-selected="true">群組介紹</a>
      <a class="nav-item nav-link" id="nav-member-tab" data-toggle="tab" href="#nav-member" role="tab" aria-controls="nav-member" aria-selected="false">成員管理</a>
      <a class="nav-item nav-link" id="nav-category-tab" data-toggle="tab" href="#nav-category" role="tab" aria-controls="nav-category" aria-selected="false">分類管理</a>
      <a class="nav-item nav-link" id="nav-article-tab" data-toggle="tab" href="#nav-article" role="tab" aria-controls="nav-article" aria-selected="false">文章管理</a>
    </div>
  </nav>
  
    <div class="tab-content" id="nav-tabContent">
      
      <div class="tab-pane fade show active" id="nav-intro" role="tabpanel" aria-labelledby="nav-intro-tab">
        <form  action="/group/{{gID}}/edit/" method="post">{% csrf_token %}
          <div class="form-group">
            <label >群組名稱</label>
            <input type="text" class="form-control" name="newTitle" id="newTitle" placeholder="" value="{{name}}">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">隱私設定</label>
            <select class="form-control" id="newPrivate" name="newPrivate">
              <option value=1 {% if private == 1 %}selected="selected"{% endif %}>公開(所有人可進群組觀看內容)</option>
              <option value=0 {% if private == 0 %}selected="selected"{% endif %}>非公開(須為成員才能進入群組)</option>
            </select>
        </div>
          <div class="form-group">
            <label>群組介紹</label>
            <textarea class="form-control form-control-textarea" id="newIntro"name="newIntro">{{intro}}</textarea>
          </div>
          <div class="form-group">
            <label>公告</label>
            <textarea id="id_content" placeholder="Balabala" name="newContent" autofocus>{{announcement}}</textarea>

          </div>
          <div class="row">
            <div class="col-6 text-center">
              <button type="submit" class="btn btn-outline-dark "onClick=" validateForm(this.form); return false">發布</button>
            </div>
            <div class="col-6 text-center">
              <a class="btn btn-outline-dark "href="/group/{{gID}}/remove/" onclick="return delete_group_Alert()">刪除群組</a> 
            </div>
          </div>
        </form>
      </div>

      <div class="tab-pane fade" id="nav-article" role="tabpanel" aria-labelledby="nav-article-tab">
      
          <table class="table table-hover"style="table-layout:fixed">
            <thead>
              <tr>
                <th scope="col">移除</th>
                <th scope="col">文章標題</th>
                <th scope="col">文章作者</th>
                <th scope="col">分類</th>
                
              </tr>
            </thead>
          <tbody>
            {% for a in article_list%}
            <tr>
              <td>
                <a href="/group/{{gID}}/{{a.articleID.id}}/delArticle/">X</a>
              </td>
              <td>{{a.articleID.title}}</td>
              <td>{{a.articleID.author}}</td>
              <td>
                <div class="checkbox-inline " id="category">
                  <select multiple class="dropdown-btn selectpicker" data-container="body" data-hide-disabled="true"
                                data-virtual-scroll="false" name="oldCategory" id="{{a.articleID.id}}">
                  <!-- 列出群組的所有分類 -->
                  {% for c in category_list %}
                  <!-- 判斷是否符合文章分類表 -->
                    <option value={{c.id}} 
                    {%for unit in article_category_list %} 
                      {%if c == unit.categoryID and a.articleID == unit.articleID %} 
                        selected 
                      {%endif%}
                    {%endfor%}>{{c.name}}</option>
                  {% endfor%}
                  </select>          
                </div>
              </td>
              
            </tr>
            {%endfor%}
            </tbody>
            </table>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-dark " id="updateCategory">設定完記得回群組簡介按發布</button>
          </div>
      </div>
      <div class="tab-pane fade" id="nav-member" role="tabpanel" aria-labelledby="nav-membert-tab">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">名稱</th>
              {% if e_group.owner == user%}
              <th scope="col">狀態</th>
              <th scope="col">移除</th>
              {% endif%}
            </tr>
          </thead>
          <tbody>
          {% for m in member_list %}
            <tr>
            {% if m.memberID == e_group.owner %}
              <th scope="row">管理員</th>
            {%else%}
              <th scope="row">{{number}}</th>
            {% endif %}
              <td><a href="/personal/{{m.memberID.id}}/" >{{m.memberID.name}}</a></td>
            {% if e_group.owner == user%}
              {% if m.state == 1 %}
                <td><a href="/group/{{e_group.id}}/{{m.memberID.id}}/addMember/" >允許加入</a></td>
              {% elif m.state == 0 %}
                <td>已加入</td>
              {% endif %}
              {% if m.memberID != e_group.owner%}
                <td><a href="/group/{{e_group.id}}/{{m.memberID.id}}/leaveGroup/" onclick="return delete_member_Alert()">移除</a></td>
              {% endif %}
            {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="nav-category" role="tabpanel" aria-labelledby="nav-category-tab">
        <table class="table table-hover"style="table-layout:fixed">
          <thead>
            <tr>
              <th scope="col">分類名稱</th>
              <th scope="col">分類新增/移除</th>
            </tr>
          </thead>
          <tbody>
            {%for c in category_list%}
            <tr>
              <td scope="row">{{c.name}}</td>
              <td scope="row"><a href="/group/{{e_group.id}}/{{c.id}}/delCategory/" >X</a></td>
            </tr>
            {%endfor%}
            <tr>
              <td scope="row">
                <div class=" tags" id="newCategory" >
                  <input type="text" class="labelinput"style="width:100%" placeholder="輸入名稱後按enter">
                  <input type="hidden" name="newCategory">
                </div>
              </td>
              {% csrf_token %}
              <td scope="row"><button class="btn dropdown-btn " id="addCategory">(全部輸入後)<br>點我新增</button></td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
</div>

<script>  
  function delete_group_Alert(){
    var msg = "您真的確定要刪除群組嗎？";
    if (confirm(msg)==true){
      return true;
      
    }else{
      return false;
    }
  }
  function delete_member_Alert(){
      var msg = "您真的確定要刪除此成員嗎？";
      if (confirm(msg)==true){
        return true;
        
      }else{
        return false;
      }
  }
  function delete_article_Alert(){
      var msg = "您真的確定要刪除此文章嗎？";
      if (confirm(msg)==true){
        return true;
        
      }else{
        return false;
      }
  }
  function getCategory(){
    var x=document.getElementsByName("newCategory")[0].value
    console.log(x)
    return x
  }
  function getUpdate_category(){
    return [getNewCategory(),getArticleIndex()];
  }
  function getNewCategory(){
    var x=[] 
    $("[name='oldCategory']").each(function(){
      x.push($(this).val())
    });
    return x
  }
  function getArticleIndex(){
    var aID=[]
    $("[name='oldCategory']").each(function(){
      aID.push($(this).attr("id"))
    });
    return aID
  }
  function validateForm(form)
  {
      if (!checkTitle(form.newTitle)) {
         
          return false;
      }
      
      else if (!checkIntro(form.newIntro)) {
         
          return false;
      }
      
      
      form.submit();
      return(true);

  }
  

  function checkTitle(control){
      var content=control.value
      if (content==''){
          alert("錯誤：請輸入Title ");
          return (false);
      }
      if(content.length>50){
          alert("錯誤：Title 最長50字元");
          return (false);
      }
      
      return true
  }
  function checkIntro(control){
    var intro=control.value
    if(intro.length>1000){
          alert("錯誤：introduction 最長1000字元");
          return (false);
      }
    return true;
  }
 
</script>
{% block myjs %} 
<script type="text/javascript" src='{%static "js/tagInput.js"%}'></script>
<script type="text/javascript" src='{%static "js/Simditor/module.js"%}'></script>
<script type="text/javascript" src='{%static "js/Simditor/hotkeys.js"%}'></script>
<script type="text/javascript" src='{%static "js/Simditor/uploader.js"%}'></script>
<script type="text/javascript" src='{%static "js/Simditor/simditor.js"%}'></script>
{% comment %} <script type="text/javascript" src='{%static "js/Simditor/simditor-mark-master/lib/simditor-mark.js"%}'></script> {% endcomment %}
{% endblock myjs %}
{% endblock  %}