{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="py-0">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div class="img-bg" style="background-image: url('/static/img/group3.jpg')"></div>
          <div class="contents">
            <span class="caption">Groups</span>
            <h2>群組功能</h2>
            <p class="mb-3">本系統利用群組功能，讓使用者能夠分享自己的文章至特定成員當中，降低對於分享對象不信任度並提升隱私程度。
            <br><br>群組可分為公開及非公開，公開社團每個人都能進入查看，而非公開群組則需要透過申請才能進入。
            </p>
            
          </div>
      </div>
    </div>
    <div class="row" style="padding-top: 50px;">
    
        <div class="col-12">
            <h3>群組總覽</h3>
        </div>
        {% for g in group_list %}
        <div class="col-lg-3 card-block">
            <div class="card" >
            
                <img src='/static/img/group{{rand|random}}.jpg' alt="AVATAR" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{g.name}}</h5>
                    <p class="card-text">{{g.intro}}</p>
                    {% if g.privacy == 1 %}
                    <a class="btn btn-outline-dark card-button" href="/group/{{g.id}}">進入</a>
                    {% elif g in userGroup_list %}
                    <a class="btn btn-outline-dark card-button" href="/group/{{g.id}}">進入</a>
                    {% elif g in applyingGroup_list %}
                    <a class="btn btn-outline-dark card-button" href="/group/{{g.id}}/cancel">取消申請</a>
                    {% else %}
                    <a class="btn btn-outline-dark card-button" href="/group/{{g.id}}/join">申請</a>
                    {% endif %}
                </div>
            </div>
        </div>
       
        {% endfor %}
        
        
    </div>
</div>










{% endblock  %}