{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row" style="padding-top: 50px;">
        <div class="col-12">
            <h3>我的群組 | My Group</h3>
        </div>
        {% for g in member_list %}
        <div class="col-lg-3 card-block">
            <div class="card" >
                <img src='https://picsum.photos/500/230' alt="AVATAR" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{g.groupID.name}}</h5>
                    <p class="card-text">{{g.groupID.intro}}</p>
                    {% if g.state == 1 %}
                    <a class="btn btn-outline-dark card-button" href="/group/{{g.groupID.id}}/cancel">取消申請</a>
                    {% else %}
                    <a class="btn btn-outline-dark card-button" href="/group/{{g.groupID.id}}">Enter</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-lg-3 card-block">
            <div class="card" >
                <img src='https://picsum.photos/500/230' alt="AVATAR" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">尚無群組</h5>
                    <p class="card-text">目前您還沒有自己的群組哦</p>
                    <a class="btn btn-outline-dark" href="/group/add/">創立群組</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}