{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KM=(P+K)^S</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{%static "img/logo2.png"%}" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet"> -->

  <link href='{%static "css/bootstrap.min.css"%}' rel="stylesheet">
  <link href='{%static "css/jquery-ui.css"%}'rel="stylesheet">
  <link href='{%static "css/owl.carousel.min.css"%}'rel="stylesheet">
  <link href='{%static "css/owl.theme.default.min.css"%}' rel="stylesheet">
  <link href='{%static "css/jquery.fancybox.min.css"%}'rel="stylesheet">
  
  <link href='{%static "css/bootstrap-datepicker.css"%}'rel="stylesheet">
  <link href='{%static "css/search.css"%}'rel="stylesheet">
  <link href='{%static "css/aos.css"%}'rel="stylesheet">
  <link href='{%static "css/jquery.mb.YTPlayer.min.css"%}'media="all" rel="stylesheet" type="text/css">
 


  <link href='{%static "css/style.css"%}'rel="stylesheet">
  <link href='{%static "css/css"%}'rel="stylesheet">
  <link href='{%static "fonts/icomoon/style.css"%}' rel="stylesheet">
  
    <link href='{%static "css/login/main.css"%}' rel="stylesheet">
  {% block mycss %} {% endblock mycss %}
<script>
      function openNav() {
        document.getElementById("myNav").style.height = "100%";
      }

      /* Close */
      function closeNav() {
        document.getElementById("myNav").style.height = "0%";
      }
      
</script>
    
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body">
      </div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="d-flex col-12">
            <a href="/" class="col-6 site-logo">
              <picture>
                  <source srcset="{%static "img/logo.png" %}" media="(min-width: 992px)">
                  <source srcset='{%static "img/logoM.png" %}' media="(min-width: 358px)">
                  <img src="{%static "img/logoS.png" %}" alt="">
                  
              </picture>
            </a>
            <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content">
                    <h1 style="color:white;">Search</h1>
                    <div class="tabbable-panel">
                      <div class="tabbable-line">
                       
                          <div class="nav nav-tabs "id="tabs">
                            <a class="overlay-a active"href="#tab_default_1" data-toggle="tab" role="tab" aria-controls="tab_default_1" aria-selected="true">文章搜尋 </a>
                            <a class="overlay-a"href="#tab_default_2" data-toggle="tab"role="tab" aria-controls="tab_default_2" aria-selected="false" >群組搜尋 </a> 
                          </div>
                       
                        
                        <div class="tab-content">
                          <div class="tab-pane show active" id="tab_default_1" >
                            <form class="login100-form  row" action="/article/search/" method="post"id="article_form">
                                  {% csrf_token %}
                                  <div class="wrap-input100  col-10" >
                                      <input class="input100 " type="text" name="article_keyword" value=""id="article_keyword">
                                      <span class="focus-input100" data-placeholder="請輸入關鍵字">
                                      </span>
                                  </div>
                                  <div class="col-2" style="padding:20px 0 0 0">
                                    <input type="image" src="{%static "img/search_1.png" %}" id="article_search" alt="Submit"name="article_search" />
                                 
                                  </div>
                            </form>
                            <div class="hot">
                              <h3 class="hot-title">熱門文章標籤</h3>
                              <div class="row">
                                {% for i in hot_tag %}
                                <a class="hot-tag " href="/article/tags/{{i.id}}">{{i.name}}</a>
                                {% endfor %}
                              </div>
                              
                            </div>
                          </div>
                          <div class="tab-pane " id="tab_default_2">
                            <form class="login100-form row" action="/group/search/" method="post"id="group_form">
                                  {% csrf_token %}
                                  <div class="wrap-input100 validate-input col-10" >
                                      <input class="input100 " type="text" name="group_keyword" value=""id="group_keyword">
                                      <span class="focus-input100" data-placeholder="請輸入關鍵字">
                                      </span>
                                  </div>
                                  <div class="col-2" style="padding:20px 0 0 0">
                                  <input type="image"src="{%static "img/search_1.png" %}" id="group_search"alt="Submit"name="group_search" >
                                  </div>
                            </form>
                            <div class="hot">
                              <h3 class="hot-title">熱門群組</h3>
                              <div class="row">
                                <div class="hot-tag ">群組</div>
                                <div class="hot-tag ">群組</div>
                                <div class="hot-tag ">群組</div>
                                <div class="hot-tag ">群組</div>
                                <div class="hot-tag ">群組</div>
                                <div class="hot-tag ">群組</div>
                                <div class="hot-tag ">群組</div>
                                <div class="hot-tag">群組</div>
                                <div class="hot-tag">群組</div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
            <div class="col-6 row text-right justify-content-end title-right">
              
              <div class="hello" style="font-size: 23px;"> Hi, {{user.name}}</div>
              <span class="text-right"style="font-size:30px;cursor:pointer " onclick="openNav()"><img src="{%static "img/search.png" %}" style="margin-bottom:8px;"></span>
              <a href="#" class="  d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black text-right"style="padding:8px;"><span
                  class="icon-menu h3"></span></a>
              
            </div>
            
            
          </div>
         
      </div>
    </div>

    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center  justify-content-between">
          
          <div class="mr-auto  justify-content-between">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="active">
                  <a href="/home/" class="nav-link text-left">Home</a>
                </li>
                <li>
                  <a href="/personal/{{user.id}}/" class="nav-link text-left">My profile</a>
                </li>
                <li>
                  <a href="/group/mygroups/" class="nav-link text-left">My groups</a>
              </li>
                <li>
                  <a href="/group/" class="nav-link text-left">All Groups</a>
                </li>
                <li>
                  <a href="/article/add/" class="nav-link text-left">New Article</a>
                </li>
                
                
                <li>
                  <a href="/group/add/" class="nav-link text-left">New group</a>
                </li>
                <li><a href="#" class="nav-link text-left">literature review</a></li>
                <li><a href="/" class="nav-link text-left">About</a></li>
                <li><a href="/accounts/logout/" class="nav-link text-left">Logout</a></li>
                
              </ul>                                                                                                                                                                                                                                                                                         
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    {% block content %}
    {% endblock  %}

    <div class="footer">
        <div class="container">
          
  
          <div class="row">
            <div class="col-12">
              <div class="copyright">
                <hr>
                <p>National Taiwan University of Science and Technology</p>
                  <p>Department of Information Management</p>
                  <p>策略資訊管理實驗室</p>

                  <p>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                      
                      
              </div>
            </div>
          </div>
        </div>
      </div>
      
  
    </div>
    <!-- .site-wrap -->
  
  
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>
  
   
  
  
      


    <script type="text/javascript" src='{%static "js/holder.min.js.下載"%}'></script>
  
    <script type="text/javascript" src='{%static "js/jquery-3.5.1.min.js"%}'></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script type="text/javascript" src='{%static "js/jquery-ui.js"%}'></script>
    <!-- <script type="text/javascript" src='{%static "js/jquery-migrate-3.0.1.min.js"%}'></script>   -->
    
    
    <!-- <script type="text/javascript" src='{%static "js/popper.js"%}'></script> -->
    <script type="text/javascript" src='{%static "js/popper.min.js"%}'></script>

      
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> -->
    <script type="text/javascript" src='{%static "js/bootstrap.bundle.min.js"%}'></script>
    <script type="text/javascript" src='{%static "js/bootstrap-select.js"%}'></script>
    <script type="text/javascript" src='{%static "js/bootstrap.min.js"%}'></script>
    <!-- <script type="text/javascript" src='{%static "js/bootstrap.min.js.下載"%}'></script> -->

    <!-- 圖片輪播 -->
    <script type="text/javascript" src='{%static "js/owl.carousel.min.js"%}'></script>
    <script type="text/javascript" src='{%static "js/jquery.stellar.js"%}'></script>
    <script type="text/javascript" src='{%static "js/countdown.js"%}'></script>
    <script type="text/javascript" src='{%static "js/bootstrap-datepicker.min.js"%}'></script>

    <script type="text/javascript" src='{%static "js/jquery.easing.1.3.js"%}'></script>
    
    <script type="text/javascript" src='{%static "js/aos.js"%}'></script>
    
    <script type="text/javascript" src='{%static "js/jquery.fancybox.min.js""%}'></script>
    <script type="text/javascript" src='{%static "js/jquery.sticky.js"%}'></script>
    <script type="text/javascript" src='{%static "js/jquery.mb.YTPlayer.min.js"%}'></script>
 
 
    

    <script type="text/javascript" src='{%static "js/main.js"%}'></script>
    <script type="text/javascript" src='{%static "js/tagInput.js"%}'></script>

    <script type="text/javascript" src='{%static "js/Simditor/module.js"%}'></script>
    <script type="text/javascript" src='{%static "js/Simditor/hotkeys.js"%}'></script>
    <script type="text/javascript" src='{%static "js/Simditor/uploader.js"%}'></script>
    <script type="text/javascript" src='{%static "js/Simditor/simditor.js"%}'></script>
    <script type="text/javascript" src='{%static "js/Simditor/simditor-mark-master/lib/simditor-mark.js"%}'></script>
    
    <script src='{%static "js/login/main.js"%}'></script>
    
  </body>
  
  </html>